.tabs-puja > .tabs, .tabs.tabs-puja {
  border-color: #cc2311;
  background-color: #ef4e3a;
  background-image: linear-gradient(0deg, #cc2311, #cc2311 50%, transparent 50%);
  color: #fff; }
  .tabs-assertive > .tabs .tab-item .badge, .tabs.tabs-assertive .tab-item .badge {
    background-color: #fff;
    color: #ef4e3a; 
}